[Desktop Entry]
Type=Application
Name=Flatpak Indicator
Comment=Apply Flatpak updates from the system tray
Exec=flatpak-indicator
Icon=software-update-available
Terminal=false
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
